<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="head">
    <title>Librebria</title>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" th:href="@{/img/image.png}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;600;700&display=swap");
    </style>
</head>
<body class="font-[Montserrat] bg-gray-900 text-gray-100 min-h-screen">

    <header th:fragment="header">
        <nav class="flex justify-between items-center px-6 py-6 bg-gray-200 shadow-lg">
            <div class="flex-1"></div> 
            <a th:href="@{/}" class="font-great-vibes text-5xl text-blue-400 hover:text-blue-300 transition-all no-underline">
                Librebria
            </a>
            <div class="flex-1 text-right">
                <a th:href="@{/login}" class="text-lg font-semibold text-blue-400 hover:text-blue-300 no-underline">Log In</a>
            </div>
        </nav>
    </header>


    <footer class="mt-12">
        <div class="flex flex-col items-center justify-center bg-gray-200 text-gray-300 py-6">
            <p class="mb-2">© 2025 Librebria. Todos los derechos reservados.</p>
            <div class="flex">
                <a href="#" class="text-blue-400 hover:text-blue-600 text-xl mx-2"><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-blue-400 hover:text-blue-600 text-xl mx-2"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-blue-400 hover:text-blue-600 text-xl mx-2"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>
