@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;600;700&display=swap");


/* Navbar pública */
.public-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.public-navbar-logo a {
  font-family: "Great Vibes", cursive;
  font-size: 36px;
  color: #d57a7a;
  text-decoration: none;
}

.public-navbar-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.public-navbar-links li a {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.public-navbar-links li a:hover {
  color: #d57a7a;
}

/* Botón general */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #d57a7a;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #b85c5c;
}



footer, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1; /* Fondo suave para el footer */
    color: #333333; /* Texto oscuro en el footer */
    margin-top: 50px;
    flex-direction: column;
  }
  
  footer p, .footer p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .social-link, .comun-social-link {
    color: #d57a7a; /* Color suave cálido para los enlaces sociales */
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-link:hover, .comun-social-link:hover {
    color: #b85c5c; /* Hover en los enlaces sociales */
  }
  