<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="~{common/private_navigation :: head}">
</head>
<body>

    <header th:replace="~{common/private_navigation :: header}" />
    <section class="relative">
        <img src="/img/1.png" class="w-full h-96 object-cover" alt="Pasteles" />
        <div class="absolute inset-0 bg-black opacity-30"></div>
        <div class="absolute inset-0 flex justify-center items-center text-center text-white">
            <div>
                <h1 class="text-4xl font-bold mb-4">NAME</h1>
                <p class="text-lg mb-6">txt</p>
                <a th:href="@{/}" class="bg-blue-500 text-white py-2 px-6 rounded-full hover:bg-blue-600 transition-all font-semibold">bttn</a>
            </div>
        </div>
    </section>

    <section class="py-16 px-6 bg-gray-300 text-center">
        <h2 class="text-3xl text-gray-900 font-bold mb-4">Quiénes somos</h2>
        <p class="text-lg text-gray-700 max-w-4xl mx-auto">
            txt
        </p>
    </section>


    <footer th:replace="~{common/private_navigation :: footer}" />

</body>
</html>
