<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="~{common/private_navigation :: head}">
</head>
<body>

    <header th:replace="~{common/private_navigation :: header}" />
    <h1>Categorías</h1>
    <br>
    <a th:href="@{/categoria/nueva}">Agregar nueva categoría</a>
    <br>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>


            <tr th:each="categoria : ${categorias}">
                <td th:text="${categoria.idCategoria}"></td>
                <td>
                    <a th:href="@{/categoria/editar/{id}(id=${categoria.idCategoria})}">Editar</a>
                    |
                    <a th:href="@{/categoria/eliminar/{id}(id=${categoria.idCategoria})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>


    
    <footer th:replace="~{common/private_navigation :: footer}" />

</body>
</html>
